Capstoneserverless-image-processing/stepfunctions/state-machine.json
{
  "Comment": "Capstone Image Resize State Machine",
  "StartAt": "ResizeTask",
  "States": {
    "ResizeTask": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:CapstoneImageResizer",
      "ResultPath": "$.result",
      "Next": "CheckResult"
    },
    "CheckResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.result.success",
          "BooleanEquals": true,
          "Next": "SuccessState"
        }
      ],
      "Default": "FailState"
    },
    "SuccessState": {
      "Type": "Succeed"
    },
    "FailState": {
      "Type": "Fail",
      "Cause": "Image resize failed"
    }
  }
}